// Population passes half a million
mixin subheadVal(i)
    - console.log(' - okay', (data[s[i][0]][s[i][1]]['2001'][s[i][3]]<250000) )
    - console.log(' - okay', ( true & false ) )
    if (Math.round(data[s[i][0]][s[i][1]][2001][s[i][3]]/1000) == Math.round(data[s[i][0]][s[i][1]][2011][s[i][3]]/1000))
        | Population plateaus
    else if (cha(s, place, i)<0)
        | Population drops
    else if ((data[s[i][0]][s[i][1]]['2001'][s[i][3]]<1000000)&(data[s[i][0]][s[i][1]]['2011'][s[i][3]]>1000000))
        | Population passes a million
    else if ((data[s[i][0]][s[i][1]]['2001'][s[i][3]]<500000)&(data[s[i][0]][s[i][1]]['2011'][s[i][3]]>500000))
        | Population passes half a million
    else if ( (data[s[i][0]][s[i][1]]['2001'][s[i][3]]<250000) & (data[s[i][0]][s[i][1]]['2011'][s[i][3]]>250000) )
        | Population passes quarter of a million
    else if ((data[s[i][0]][s[i][1]]['2001'][s[i][3]]<200000)&(data[s[i][0]][s[i][1]]['2011'][s[i][3]]>200000))
        | Population passes #[+value(200000)]
    else if ((data[s[i][0]][s[i][1]]['2001'][s[i][3]]<100000)&(data[s[i][0]][s[i][1]]['2011'][s[i][3]]>100000))
        | Population passes #[+value(100000)]
    else if ((data[s[i][0]][s[i][1]]['2001'][s[i][3]]<50000)&(data[s[i][0]][s[i][1]]['2011'][s[i][3]]>50000))
        | Population passes #[+value(50000)]
    else if ([250000, 500000, 1000000].includes(Number.parseFloat(Number.parseFloat(cur(s, place, i)).toPrecision(2))))
        | Population
        if (get_word(data[s[i][0]][s[i][1]]['2011'][s[i][3]], "num")[0]=="just under")
            | nears 
        else
            | passes
        | #[+value(get_word(data[s[i][0]][s[i][1]]['2011'][s[i][3]], "num")[1])]
    else
        | Population
        if ((cur(s, place, i)<(Number.parseFloat(Number.parseFloat(cur(s, place, i)).toPrecision(2)))))
            | nears
        else if (cur(s, place, i)>(Number.parseFloat(Number.parseFloat(cur(s, place, i))).toPrecision(2)))
            | passes
        else 
            | reaches
        |  #[+value(Number.parseFloat(Number.parseFloat(cur(s, place, i)).toPrecision(2)))]

// A disclaim to explain that CoL and the Isles of Scilly are the smallest LAs
mixin smallDisc(x)
    if ((x=='City of London') & (!hasSaid('CoLDisc')))
        recordSaid('CoLDisc')
        p Due to its small size, comparisons to City of London should be made with caution. 
    else if ((x=='Isles of Scilly') & (!hasSaid('IoSDisc')))
        recordSaid('IoSDisc')
        p Due to its small size, comparisons to Isles of Scilly should be made with caution. 

// A younger Manchester
mixin subheadAge(i)
    | #[+value(ud(cha(s, place, i), place.name + ' grows older', 'A younger ' + place.name))]

mixin tenYears
  synz {mode:'sequence'}
    syn
      | in the decade to 2011
    syn
      | between the last two censuses
    syn
      | in the 10 years leading up to 2011
    syn
      | in the 10 years leading up to Census 2011
    //- syn
    //-   | in the decade leading up to the last census
    //- syn
    //-   | in the 10 years leading up to the last census

// Between the last two censuses, the average age in Manchester fell by two years, from 34 to 32 years of age.
mixin sent1Age(i)
    p
        | Census 2011 data also shows a #[+value(topics[s[i][0]].synonym)].
        p
            | Between the last two censuses, the median age
            | of #[+value(place.name)] 
            if (data[s[i][0]][s[i][1]][2001][s[i][3]] == data[s[i][0]][s[i][1]][2011][s[i][3]])
                | remained
            else
                | #[+value(ud(cha(s, place, i), 'rose by', 'fell by'))]
                | #[+value(Math.abs(cha(s, place, i)), {'TEXTUAL':true })] 
                | #[+value(Math.abs(cha(s, place, i))==1?'year':'years')],
                | from #[+value(data[s[i][0]][s[i][1]][2001][s[i][3]])] to
            | #[+value(data[s[i][0]][s[i][1]][2011][s[i][3]])] years of age.

// Manchester's average age is the lowest in the North West and remains considerably lower than the average age across England (38 years of age).
mixin sent2Age(i)        
    - let lra = data[s[i][0]][s[i][1]+"_rank_local"][2011][s[i][3]]
    - let agediff = data[s[i][0]][s[i][1]][2011][s[i][3]]-cou.data.agemed.value[2011].all
    - let agediff01 = data[s[i][0]][s[i][1]][2001][s[i][3]]-cou.data.agemed.value[2001].all
    if (country=="England")
        | This #[+value((place.classification!='unk')?place.classification:'area')] has 
        if (Math.abs(lra)<4)
            | the #[+value(ud(lra, ord(lra) + "highest", ord(lra) + "lowest"))]
            | average age in #[+value(parent)] and 
        else
            | a #[+value(adv(cur(s, place, i), cur(s, rgn, i)))] 
            | #[+value(ud(cur(s, place, i)-cur(s, rgn, i), 'higher', 'lower'))]
            | average age than #[+value(parent)] and
        if (data[s[i][0]][s[i][1]][2011][s[i][3]]==eng.data.agemed.value[2011].all)
            | has a similar age to the average local authority area across England (#[+value(eng.data.agemed.value[2011].all)] years of age).
        else
            | #[+value((Math.sign(agediff) == Math.sign(agediff01)?'remains':'has become'))] 
            | #[+value(Math.abs(agediff)>4?'': Math.abs(agediff)>2?'somewhat':'slightly')] 
            | #[+value(ud(agediff, 'older', 'younger'))] 
            | than the average local authority area across England (#[+value(eng.data.agemed.value[2011].all)] years of age).
    else
        | This #[+value((place.classification!='unk')?place.classification:'area')] has
        | a #[+value(adv(cur(s, place, i), cur(s, simi, i)))] 
        | #[+value(ud(cur(s, place, i)-cur(s, simi, i), 'higher', 'lower'))]
        | average age than #[+similarname] (#[+value(cur(s, simi, i))] years of age) and
        if (Math.abs(lra)<4)
            | the #[+value(ud(lra, ord(lra) + "highest", ord(lra) + "lowest"))]
            | average age in #[+value(parent)].
        else if (cur(s, place, i)==cur(s, rgn, i))
            | has a similar age to the average local authority area across Wales (#[+value(rgn.data.agemed.value[2011].all)] years of age).
        else
            | #[+value((Math.sign(agediff) == Math.sign(agediff01)?'remains':'has become'))] 
            | #[+value(Math.abs(agediff)>4?'': Math.abs(agediff)>2?'somewhat':'slightly')] 
            | #[+value(ud(agediff, 'older', 'younger'))] 
            | than the average local authority area across Wales (#[+value(rgn.data.agemed.value[2011].all)] years of age).
        | #[+smallDisc(place.similar.name)]


// The drop in age was largely driven by an increase of nearly 50,000 people between the ages of 20 and 29 years, while the population over the age of 70 years decreased by almost two thousand.
mixin sent3Age(i)
    - let agediff = data[s[i][0]][s[i][1]][2011][s[i][3]]-cou.data.agemed.value[2011].all
    | The #[+value(ud(agediff, 'rise', 'drop'))] in age was because of an increase of 
    | #[+value(figs(data.age10yr.absChange['pos'][0][1])[0])]  
    | #[+value(figs(data.age10yr.absChange['pos'][0][1])[1])]  
    | #[+value(ageBandLU[data.age10yr.absChange['pos'][0][0]][0])]
    if (data.age10yr.absChange['neg'][0])
        | , while the population #[+value(ageBandLU[data.age10yr.absChange['neg'][0][0]][1])] decreased by 
        | #[+value(figs(data.age10yr.absChange['neg'][0][1])[0])]  
        | #[+value(Math.abs(figs(data.age10yr.absChange['neg'][0][1])[1]))]  
    | . 

mixin rou(x)
    if (Math.abs(x)<10)
        | #[+value(Math.round(x*10)/10)]
    else 
        | #[+value(Math.round(x))]


// In the decade to 2011, the population of Manchester rose by over 28% from 391,221 to 503,127, giving it the largest headcount of any local authority area in the North West of England.
mixin sent1pop(i)
    | #[+tenYears],
    | the population
    | of #[+value(place.name)]
    if (Math.round(data[s[i][0]][s[i][1]][2001][s[i][3]]/1000) == Math.round(data[s[i][0]][s[i][1]][2011][s[i][3]]/1000))
        | remained close to #[+value(figs(data[s[i][0]][s[i][1]][2011][s[i][3]], 3)[1])].
    else
        | #[+value(ud(cha(s, place, i), 'rose', 'fell by'))]
        | #[+pc(Math.abs(data[s[i][0]][s[i][1]]['change'][s[i][3]]))],
        | from #[+value(figs(data[s[i][0]][s[i][1]][2001][s[i][3]], 3)[0])]
        | #[+value(figs(data[s[i][0]][s[i][1]][2001][s[i][3]], 3)[1])]
        | to #[+value(figs(data[s[i][0]][s[i][1]][2011][s[i][3]], 3)[1])].

mixin geog 
    if (country=="Wales")
        | Wales
    else
        | #[+value((parent=="London")?"Greater London":"the region")]

// The addition of over 100,000 people means Manchester's population is also the fastest-growing in the North West and the second-fastest-growing across England. Only Tower Hamlets in London, with an increase of almost 30%, has a faster-growing population.
mixin sent2pop(i)
    - var lra = data[s[i][0]][s[i][1]+'_rank_local']['change'][s[i][3]]
    | The 
    | #[+value(ud(cha(s, place, i), "addition", "loss"))]
    | of 
    if (Math.abs(figs(data[s[i][0]][s[i][1]][2011][s[i][3]]-data[s[i][0]][s[i][1]][2001][s[i][3]], "num")[1]) == 0)
        | fewer than 50
    else
        | #[+value(figs(data[s[i][0]][s[i][1]][2011][s[i][3]]-data[s[i][0]][s[i][1]][2001][s[i][3]], "num")[0])]
        | #[+value(Math.abs(figs(data[s[i][0]][s[i][1]][2011][s[i][3]]-data[s[i][0]][s[i][1]][2001][s[i][3]], "num")[1]))]
    | people means this area's population
    //- If population decreased but not at a high rank
    if ((cha(s, place, i)<0)&(Math.abs(lra)>3))
        | decreased by #[+pc(Math.abs(cha(s, place, i)))] between that last two censuses, 
        | while the population of !{cou.name} increased by #[+pc(Math.abs(cha(s, cou, i)))]
    else
        | is
        if (rgn.name!='Wales')
            if ((Math.abs(lra)<4) & (sign(lra, cha(s, place, i))))
                | the #[+value(ud(lra, (ord(Math.abs(lra))+"fastest-growing"), (ord(Math.abs(lra))+"most rapidly-declining")))]
                | in !{parent}
                | #[+value((Math.sign(data[s[i][0]][s[i][1]+'_rank']['change'][s[i][3]])!=(Math.sign(data[s[i][0]][s[i][1]+'_rank_local']['change'][s[i][3]])))?"but":"and")]
            if (Math.abs(data[s[i][0]][s[i][1]+'_rank']['change'][s[i][3]])<6)
                if (Math.abs(data[s[i][0]][s[i][1]+'_rank']['change'][s[i][3]])>1)
                    | the #[+value(Math.abs(data[s[i][0]][s[i][1]+'_rank']['change'][s[i][3]]), {'ORDINAL_TEXTUAL':true})]
                | #[+value(ud(cha(s, place, i), 'fastest-growing', 'most rapidly-declining'))]
                | across 
                | #[+value(country)].
            else
                if (cha(s, place, i)<0)
                    | , while the population of !{cou.name} increased by #[+pc(Math.abs(cha(s, cou, i)))].
                else
                    if (place.stories[i].value<(eng.data[s[i][0]][s[i][1]]['change'][s[i][3]]-1))
                        | increasing at a slower rate than the total population of 
                    else if (place.stories[i].value>(eng.data[s[i][0]][s[i][1]]['change'][s[i][3]]+1))
                        | increasing faster than the rate of growth across 
                    else
                        | increasing at a similar rate to the overall population of
                    | #[+value(country)] (#[+value((cha(s, place, i)==cha(s, eng, i))?'also':'')]
                    | up #[+pc(eng.data[s[i][0]][s[i][1]]['change'][s[i][3]])] since the 2001 census).
        else
            if ((Math.abs(lra)<4) & (sign(lra, cha(s, place, i))))
                | the #[+value(ud(lra, (ord(Math.abs(lra))+"fastest-growing"), (ord(Math.abs(lra))+"most rapidly-declining")))]
                | in #[+geog]
                | , while #[+value(place.name)] 
                | #[+value(data.population.value_rank[2011].all==data.population.value_rank[2001].all?"remains":"becomes")] the 
                | #[+value(udord(data.population.value_rank[2011].all, "most", "least"))] populous
                | local authority area in the country. 
            else
                if (place.stories[i].value<(rgn.data[s[i][0]][s[i][1]]['change'][s[i][3]]-1))
                    | increasing at a slower rate than the total population of 
                else if (place.stories[i].value>(rgn.data[s[i][0]][s[i][1]]['change'][s[i][3]]+1))
                    | increasing faster than the rate of growth across 
                else
                    | increasing at a similar rate to the overall population of
                | Wales (
                | #[+value((cha(s, place, i)==cha(s, rgn, i))?'also':'')]
                |up #[+pc(rgn.data[s[i][0]][s[i][1]]['change'][s[i][3]])] since the 2001 census).
    | #[+smallDisc(place.name)]



// For each football pitch-sized piece of land (about 7,140 square metres), Manchester is now home to, on average, about 31 people, compared to 24 in 2001.
mixin density 
    if (rgn.name=='Wales')
        - country = 'Wales'
    - let ppfp = Number.parseFloat(Number.parseFloat(0.714*data.density.value[2011].all).toPrecision(2))
    if (ppfp==ppfp)
        | #[+value(place.name)] is home to, on average, #[+value(ppfp)] #[+value(pluralize('person', ppfp))] per football pitch-sized piece of land (about #[+value(7140)] square metres).
    else
        | #[+value(place.name)] is now home to, on average, 
        | #[+value(ppfp)] #[+value(pluralize('person', ppfp))]
        | per football pitch-sized piece of land (about #[+value(7140)] square metres), compared to 
        | #[+value(Number.parseFloat(Number.parseFloat(0.714*data.density.value[2001].all).toPrecision(2)))] in 2001.
    if (Math.abs(data.density.value_rank[2011].all)==1)
        | This makes it #[+value(country)]'s #[+value(udord(data.density.value_rank[2011].all, "most densely-populated", "least densely-populated"))] #[+value(place.gss.short)].
    else if (Math.abs(data.density.value_rank_local[2011].all)==1)
        | This makes it #[+value(parent)]'s #[+value(udord(data.density.value_rank_local[2011].all, "most densely-populated", "least densely-populated"))] #[+value(place.gss.short)].
    else if (Math.abs(data.density.value_rank[2011].all)<4)
        | This makes it #[+value(country)]'s #[+value(udord(data.density.value_rank[2011].all, "most densely-populated", "least densely-populated"))] #[+value(place.gss.short)].
    else if (Math.abs(data.density.value_rank_local[2011].all)<4)
        | This makes it #[+value(parent)]'s #[+value(udord(data.density.value_rank_local[2011].all, "most densely-populated", "least densely-populated"))] #[+value(place.gss.short)].

// Between 2001 and 2011, Manchester overtook Wiltshire and Liverpool to become England's eighth-most populated local authority.
mixin sent4Pop(i)
    | Between 2001 and 2011, this #[+value(place.gss.short)] overtook 
    if (data['density'][s[i][1]+'_rank']['overtake'][s[i][3]].length<4)
        eachz item in data['density'][s[i][1]+'_rank']['overtake'][s[i][3]] with { separator: ',', last_separator: 'and' }
            | #{item}
    else if (data['density'][s[i][1]+'_rank']['overtake'][s[i][3]].length>3)
        | #[+value(data['density'][s[i][1]+'_rank']['overtake'][s[i][3]].length)] areas, 
        | including #[+value(data['density'][s[i][1]+'_rank']['overtake'][s[i][3]][0])] 
        | and #[+value(data['density'][s[i][1]+'_rank']['overtake'][s[i][3]][1])],
    | to become England's #[+value(Math.abs(data.density.value_rank[2011].all), {'ORDINAL_TEXTUAL':true})]
    | most densely populated local authority area.


mixin overtake(i, loc)
    | During this period, !{place.name} 
    if (rgn.name=='Wales')
        - loc = "_local"
    - var ove = data[s[i][0]][s[i][1]+"_rank"+loc]['overtake'][s[i][3]]
    - var ra = data[s[i][0]][s[i][1]+"_rank"+loc][2011][s[i][3]]
    if (Math.abs(ra)<11)
        | #[+value(ud(ra, 'overtook', 'fell below'))] 
        if (ove.length<4)
            eachz item in ove with { separator: ',', last_separator: 'and' }
                | #{item}
        else if (ove.length>3)
            | #[+value(nuword(ove.length))] 
            | local authorities, 
            | including #[+value(ove[0])] 
            | and #[+value(ove[1])],
        | to become the #[+value((loc == "_local") ? parentNT : (country=="Wales")?"Welsh":"English")] local authority area with the
        | #[+value(ud(ra, (ord(Math.abs(ra))+"highest"), (ord(Math.abs(ra))+"lowest")))]
        | percentage of #[+value(topics[s[i][0]][s[i][3]].adj_noun_s)].
    else
        | went from having the
        | #[+value(ord(Math.abs(data[s[i][0]][s[i][1]+"_rank"+loc][2001][s[i][3]]))+ud(data[s[i][0]][s[i][1]+"_rank"+loc][2001][s[i][3]],"highest", "lowest"))]
        | to the #[+value(ud(ra, (ord(Math.abs(ra))+"highest"), (ord(Math.abs(ra))+"lowest")))] percentage of #[+value(topics[s[i][0]][s[i][3]].adj_noun_s)] out of 
        | #[+value((country=="England")?"309 English":"22 Welsh")] local authorities.

//- mixin percOfRes(place)
//-     synz {mode:'sequence'}
//-         syn
//-             | the percentage of #[+value(place.name)] residents
//-         syn
//-             | the percentage of people living in #[+value(place.name)] 

// In the 10 years leading up to the last census, the percentage of Manchester residents describing their health as good increased from just over 66% to about 80%.
mixin sent1Perc(i)
    - function pcnoprint(x) { if (Math.abs(x)<10) { return Math.round(x*10)/10 }  else { return Math.round(x) } }
    if (i==1)
        p Census 2011 data also shows a #[+value(topics[s[i][0]].synonym)].
    p 
        | the percentage of
        | #[+value(topic(i).clausal_modifier)] 
        if (pcnoprint(data[s[i][0]][s[i][1]][2001][s[i][3]]) == pcnoprint(cur(s, place, i)))
            | remained close to
        else
            if (cha(s, place, i)<0)
                | decreased
            else
                | increased 
            | from 
            | #[+pc(data[s[i][0]][s[i][1]][2001][s[i][3]])]
            if (i==1)
                | in 2001
            | to 
        | #[+pc(cur(s, place, i))] 
        if (i!=1)
            | #[+tenYears]
        | .

mixin county(p)
    if (countyLU[p])
        if (fuzz(countyLU[p], p))
            if (countyLU[p]!=countyLU[place.name])
                | in #[+value(countyLU[p])]
        else if ((regionLU[p])&(regionLU[place.name]))
            if (regionLU[p]!=regionLU[place.name])
                | in #[+value(uncap1(regionThe(regionLU[p])))]
    else if (regionLU[p]&(regionLU[place.name]))
        if (regionLU[p]!=regionLU[place.name])
            | in #[+value(uncap1(regionThe(regionLU[p])))]


// About one in eight (13%) described their health as fair, compared with just over 23% in 2001. The percentage reporting bad health decreased from just under 13% to just over 7%.
mixin sent2Perc(i, chain0_01, chain0_11, chain1_01, chain1_11)
    if (Math.round(chain0_01)==Math.round(chain0_11))
        | The proportion 
        | #[+value((topics[s[i][0]].measure_s=='households')?'that':'who')] 
        | #[+value(topic(i, chains[s[i][3]][0]).verb_past_samp)]
        | remained close to #[+pc(chain0_01)], while
    else
        | In 2011,
        if (data[s[i][0]][s[i][1]][2011][chains[s[i][3]][0]]<1.7)
            | #[+pc(data[s[i][0]][s[i][1]][2011][chains[s[i][3]][0]])] of
        else 
            | #[+value(get_word((data[s[i][0]][s[i][1]][2011][chains[s[i][3]][0]])/100, 'frac')[0])]
            | #[+value(get_word((data[s[i][0]][s[i][1]][2011][chains[s[i][3]][0]])/100, 'frac')[1])]
            | (#[+pc(data[s[i][0]][s[i][1]][2011][chains[s[i][3]][0]])])
        | #[+value(topics[s[i][0]].measure_s)]
        | #[+value(topic(i, chains[s[i][3]][0]).verb_past_samp)],
        | compared with
        | #[+pc(chain0_01)]
        | in 2001. 
    if (chains[s[i][3]].length>1)
        | the percentage of
        | #[+value(topic(i, chains[s[i][3]][1]).clausal_modifier)] 
        | #[+value(ud(chain1_11-chain1_01, 'increased', 'decreased'))]
        | from 
        | #[+pc(chain1_01)]
        | to 
        | #[+pc(chain1_11)]
        | .

mixin inRegion
    synz {mode:'sequence'}
        syn 
            | in any other local authority district across
        syn
            | anywhere else in

// The proportion of healthy residents in Manchester is growing at the third fastest rate of all local authority disricts across England.
// The population of Manchester is becoming more healthy at the third fastest of all local authority districts across England.
mixin topRank(i)
    | The proportion of #[+value(topic(i).adj_noun)] is 
    | #[+value(ud(cha(s, place, i, "r"), 'growing', 'falling'))]
    if (Math.abs(cha(s, place, i, "r"))==1)
        | faster here than #[+inRegion] #[+value(country)]
    else 
        | at the third fastest rate of all local authority districts across #[+value(country)]
    if ((Math.abs(otherRank(s, place, i, 'cou'))==1)&(!hasSaid('OtherChange')))
        | , while the percentage of 
        | #[+value(topic(i, otherEst(s, place, i, cha(s, place, i, "r"), 'change')).adj_noun)] is 
        | #[+value(ud(otherRank(s, place, i, 'cou'), 'increasing', 'decreasing'))]
        | faster than anywhere else in the #[+value(city)].
        if ((i!=hiRank.rankIn)&(s[i][0]!='health'))
            p #[+nowHasReg(i)] 
        recordSaid('OtherChange')
    else
        | .
        if (Math.abs(cur(s, place, i, "r"))<11)
            | #[+nowHasCou(i)]
        else
            | #[+considImprov(i)]

// The proportion of healthy residents is increasing faster here than in any other local authority district across the region.
mixin topRankLoc(i)
    | The proportion of #[+value(topic(i).adj_noun)] is 
    if (cha(s, place, i, "rl")<0)
        | decreasing
    else
        | increasing
    | faster here than #[+inRegion] #[+value(parent)]
    if ((Math.abs(otherRank(s, place, i, "rl"))==1)&(!hasSaid('OtherChange')))
        | , while the percentage of 
        | #[+value(topic(i, otherEst(s, place, i, cha(s, place, i, "rl"), 'change')).adj_noun)] is 
        | #[+value(ud(otherRank(s, place, i, "rl"), 'growing', 'falling'))]
        | faster than anywhere else in the #[+value(city)]
        if ((i!=hiRank.rankIn)&(s[i][0]!='health'))
            p #[+nowHasReg(i)] 
        recordSaid('OtherChange')
    else
        | .
        if (Math.abs(cur(s, place, i, "rl"))<4)
            | As a result, #[+nowHasReg(i)]
            if ((i!=hiRank.rankIn)&(s[i][0]!='health'))
                p #[+nextHighest(i)]
        else
            | #[+considImprov(i)]

// This mixin determines how the rest of the section will be generated
mixin sent3Perc(i)
    if (Math.abs(cha(s, place, i, "r"))<4)
        | #[+topRank(i)]
    else if (Math.abs(cha(s, place, i, "rl"))==1)
        | #[+topRankLoc(i)] 
    else
        | The proportion of  #[+value(topic(i).adj_noun)] has been
        | #[+value(ud(cha(s, place, i), 'growing', 'falling'))]
        if (country=="England")
            if ((cha(s, place, i)>cha(s, near, i)-1)&(cha(s, place, i)<cha(s, near, i)+1))
                | at a similar rate to 
            else
                | #[+value(uds((Math.abs(cha(s, place, i)) - Math.abs(cha(s, rgn, i))), 'faster here than', 'at a slower rate here than', 'here at a similar rate to'))]
            | the figure for the whole of #[+value(parent)]
            | (from #[+pc((rgn.data[s[i][0]][s[i][1]][2001][s[i][3]]))] in 2001 to 
            | #[+pc((cur(s, rgn, i)))] in 2011)
            if ((sign(Math.abs(cha(s, place, i))-Math.abs(cha(s, rgn, i))), sign(Math.abs(cha(s, place, i))-Math.abs(cha(s, eng, i)))))
                | and across #[+value(country)] 
                | (from #[+pc((eng.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
                | #[+pc((eng.data[s[i][0]][s[i][1]][2011][s[i][3]]))]).
            else
                | . Across #[+value(country)], the proportion #[+value(ud(cha(s, rgn, i), 'rose', 'fell'))]
                | from #[+pc((eng.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
                | #[+pc((eng.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
        else
            if ((cha(s, place, i)>cha(s, near, i)-1)&(cha(s, place, i)<cha(s, near, i)+1))
                | at a similar rate to 
            else
                | #[+value(ud(Math.abs(cha(s, place, i))-Math.abs(cha(s, near, i)), 'faster', 'at a slower rate'))]
                | here than in 
            | #[+nearbyname]
            | (from #[+pc((near.data[s[i][0]][s[i][1]][2001][s[i][3]]))] in 2001 to 
            | #[+pc((near.data[s[i][0]][s[i][1]][2011][s[i][3]]))] in 2011)
            if ((sign(Math.abs(cha(s, place, i))-Math.abs(cha(s, near, i))), sign(Math.abs(cha(s, place, i))-Math.abs(cha(s, rgn, i)))))
                | and across #[+value(parent)]
                | (from #[+pc((rgn.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
                | #[+pc((rgn.data[s[i][0]][s[i][1]][2011][s[i][3]]))]) .
            else 
                | . Across Wales, the proportion #[+value(ud(cha(s, rgn, i), 'rose', 'fell'))]
                | from #[+pc((rgn.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
                | #[+pc((rgn.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
            | #[+smallDisc(near.name)]

// Blackburn with Darwen has the region's next lowest proportion of residents from a White ethnic group (69.2%), while 90.1% in nearby Salford are from a White ethnic group.
mixin nextHighest(i)
    if (cur(s, place, i, "rl")<0)
        | #[+value(data[s[i][0]][s[i][1]+"_rank_local"]['above_below'][s[i][3]].above.name)] 
        | has the region's next lowest proportion of 
        | #[+value(topic(i).adj_noun)]
        | (#[+pc((data[s[i][0]][s[i][1]+"_rank_local"]['above_below'][s[i][3]].above.value))]), 
    else
        | #[+value(data[s[i][0]][s[i][1]+"_rank_local"]['above_below'][s[i][3]].below.name)] 
        | has the region's next highest proportion of 
        | #[+value(topic(i).adj_noun)]
        | (#[+pc((data[s[i][0]][s[i][1]+"_rank_local"]['above_below'][s[i][3]].below.value))]),
    | while the proportion is
    | #[+pc((near.data[s[i][0]][s[i][1]][2011][s[i][3]]))]
    | in #[+value(near.name)].

// As a result, this area now has the country's highest proportion of private renters and the lowest proportion of homeowners.
mixin nowHasCou(i)
    | As a result, this area now has the country's 
    if (Math.abs(data[s[i][0]][s[i][1]+'_rank']['2011'][s[i][3]])!=1)
        | #[+value(data[s[i][0]][s[i][1]+'_rank']['2011'][s[i][3]], {'ORDINAL_TEXTUAL':true})]
    if (data[s[i][0]][s[i][1]+'_rank']['2011'][s[i][3]]<0)
        | lowest
    else
        | highest 
    | proportion of 
    | #[+value(topic(i).adj_noun)]
    | and the lowest proportion of homeowners
    | .

// As a result, this area now has the region’s highest proportion of private renters and the lowest proportion of homeowners.
mixin nowHasReg(i)
    | this area now has 
    if (parent=="London")
        | Greater London's
    else
        | the region’s 
    if (Math.abs(data[s[i][0]][s[i][1]+'_rank_local']['2011'][s[i][3]])!=1)
        | #[+value(Math.abs(data[s[i][0]][s[i][1]+'_rank_local']['2011'][s[i][3]]), {'ORDINAL_TEXTUAL':true})]
    if (data[s[i][0]][s[i][1]+'_rank_local']['2011'][s[i][3]]<0)
        | lowest proportion of #[+value(topic(i).adj_noun)]
        if (data[s[i][0]][s[i][1]+'_rank_local']['2011'][otherEst(s, place, i, 'highest', '2011')]==1)
            | and the 
            | highest proportion of 
            | #[+value(topic(i, otherEst(s, place, i, 'highest', '2011')).adj_noun)]
    else
        | highest proportion of #[+value(topic(i).adj_noun)]
        if (data[s[i][0]][s[i][1]+'_rank_local']['2011'][otherEst(s, place, i, 'lowest', '2011')]==-1)
            | and the 
            | lowest proportion of
            | #[+value(topic(i, otherEst(s, place, i, 'lowest', '2011')).adj_noun)]
    | .

// The considerable improvement has brought health in Manchester close to the national average (about 81% in England described their health as good in 2011).
mixin considImprov(i)
    if (data[s[i][0]][s[i][1]+'_rank_local']['change'][s[i][3]]==1)
        if (data[s[i][0]][s[i][1]][2011][s[i][3]]<(eng.data[s[i][0]][s[i][1]][2011][s[i][3]]-2))
            | But despite the improvement, 
            | #[+value(place.name)] 
            | remains 
            | less healthy than 
        else if (data[s[i][0]][s[i][1]][2011][s[i][3]]>(eng.data[s[i][0]][s[i][1]][2011][s[i][3]]+2))
            | As a result, #[+value(place.name)] 
            | has become more healthy than
        else
            | The improvement has brought health in 
            | #[+value(place.name)] close to 
        | the national average
        | #[+pc(eng.data[s[i][0]][s[i][1]][2011][s[i][3]])]
        | in #[+value(country)] described their health as good in 2011).
    else
        if (data[s[i][0]][s[i][1]][2011][s[i][3]]<(eng.data[s[i][0]][s[i][1]][2011][s[i][3]]-2))
            | But despite the improvement, 
            | #[+value(place.name)] 
            | remains 
            | less healthy than 
        else if (data[s[i][0]][s[i][1]][2011][s[i][3]]>(eng.data[s[i][0]][s[i][1]][2011][s[i][3]]+2))
            | As a result, #[+value(place.name)] 
            | has become more healthy than   
        else
            | The improvement has brought health in 
            | #[+value(place.name)] close to 
        | the regional average
        | #[+pc(rgn.data[s[i][0]][s[i][1]][2011][s[i][3]])]
        | in #[+value(parent)] described their health as good in 2011).

mixin healthExplain
    | These data are people’s own opinions in describing their overall health. They may be inconsistent with other measures of health, such as NHS records.

//- The rate of self-employment rose in Darlington, but at a slower rate than all other local authorities in the the North East.
//- Private renting rose in Maldon, but at a slower rate than all other local authorities in East England, except Luton and Watford.
mixin butSlower(i, loc)
    p 
        | #[+value(topic(i, s[i][3]).sample)] 
        | #[+value(ud(cha(s, place, i), 'rose', 'fell'))]
        | in #[+value(place.name)], but at
        if (data[s[i][0]][s[i][1]+'_rank'+loc][s[i][2]][s[i][3]]>3)|(rgn.name=="Wales")
            - loc = "_local"
        if (data[s[i][0]][s[i][1]+'_rank'+loc][s[i][2]][s[i][3]]>3)
            | the #[+value(ord(data[s[i][0]][s[i][1]+'_rank'+loc][s[i][2]][s[i][3]]))] 
            | slowest rate of any local authority are across #[+value(country)]. 
        else
            | a slower rate than all other
            | #[+value((loc!="_local")? ("local authority areas across " + country): (parent=="London")? place.gss.long+"s" :"local authorities in "+parent)]
            if (Math.abs(data[s[i][0]][s[i][1]+'_rank'+loc][s[i][2]][s[i][3]])!=1)
                | , except #[+value(data[s[i][0]][s[i][1]+'_rank'+loc].top_bottom[s[i][3]]["-1"].name)]
                if (Math.abs(data[s[i][0]][s[i][1]+'_rank'+loc][s[i][2]][s[i][3]])!=2)
                    | and #[+value(data[s[i][0]][s[i][1]+'_rank'+loc].top_bottom[s[i][3]]["-2"].name)] 
        | .


mixin rank1reg(i)
    // In the rare occasion that the bottom rank is a positive change, vice versa
    - var rl = data[s[i][0]][s[i][1]+'_rank_local'][s[i][2]][s[i][3]]
    if (Math.sign(rl) != Math.sign(cha(s, place, i)))
        | #[+butSlower(i, "_local")]
    else
        | This area saw #[+value(parent)]'s 
        // If it's a tie
        if ( (Math.abs(rl) < 3) && ( data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"].change == data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-1":"1"].change ) )
            | joint #[+value(drop(rl, 'largest drop', 'largest rise'))]
            | in the proportion of #[+value(topic(i, s[i][3]).adj_noun)]
            | , alongside 
            | #[+value((data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-1":"1"].name == place.name)? data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"].name : data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-1":"1"].name)].
        else if ( ( Math.abs(rl) > 1 ) && ( data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"].change == data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-3":"3"].change ) )
            | joint #[+value(drop(rl, 'largest drop', 'largest rise'))]
            | in the proportion of #[+value(topic(i, s[i][3]).adj_noun)]
            | , alongside 
            | #[+value((data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"].name == place.name)? data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-3":"3"].name : data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"].name)].
            | The #[+value((rl<0)? drop(-1, 'largest drop', 'largest rise'):drop(1, 'largest drop', 'largest rise'))] was seen in 
            | #[+value(data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-1":"1"].name)]
        else
            | #[+value(drop(rl, 'largest drop', 'largest rise'))]
            | in the proportion of #[+value(topic(i, s[i][3]).adj_noun)].
            p #[+acrossRegion(i)]

//- This district saw England's second-largest drop in the proportion of people who describe themselves as Christian.
mixin rank1nat(i)
    // In the rare occasion that the bottom rank is a positive change, vice versa
    if (Math.sign(data[s[i][0]][s[i][1]+'_rank'][s[i][2]][s[i][3]]) != Math.sign(cha(s, place, i)))
        | #[+butSlower(i, "")]
    else
        | This area saw #[+value(cou.name)]'s 
        | #[+value(drop(data[s[i][0]][s[i][1]+'_rank'][s[i][2]][s[i][3]], 'largest drop', 'largest rise'))]
        | in the proportion of #[+value(topic(i, s[i][3]).adj_noun)].
        p #[+acrossCountry(i)]

mixin rank2(i)
    | In 2011,
    if (data[s[i][0]][s[i][1]][2011][s[i][3]]<1.7)
        | #[+pc(data[s[i][0]][s[i][1]][2011][s[i][3]])] of
    else 
        | #[+value(get_word((data[s[i][0]][s[i][1]][2011][s[i][3]])/100, 'frac')[0])]
        | #[+value(get_word((data[s[i][0]][s[i][1]][2011][s[i][3]])/100, 'frac')[1])]
        | (#[+pc(data[s[i][0]][s[i][1]][2011][s[i][3]])])
    | #[+value(topics[s[i][0]].measure_s)] in !{place.name}
    | #[+value(topic(i, s[i][3]).verb_past_samp)],
    | compared with
    | #[+pc(data[s[i][0]][s[i][1]][2001][s[i][3]])]
    | in 2001. 
    | The percentage
    | #[+value(topic(i, chains[s[i][3]][0]).verb)] 
    if (data[s[i][0]][s[i][1]][2001][chains[s[i][3]][0]]>data[s[i][0]][s[i][1]][2011][chains[s[i][3]][0]])
        | decreased 
    else
        | increased
    | from 
    | #[+pc(data[s[i][0]][s[i][1]][2001][chains[s[i][3]][0]])]
    | to 
    | #[+pc(data[s[i][0]][s[i][1]][2011][chains[s[i][3]][0]])]
    | .

mixin regional 
    if (parent=="Wales")
        | Welsh
    else
        | regional

mixin region
    if (parent=="Wales")
        | Wales
    else if (parent=="London")
        | Greater London
    else
        | the region

//- Across the North East, Manchester (from 50% in 2001 to 30% in 2011) saw the next greatest drop in the proportion of people working long hours, while the regional average decreased from 40% to 20%.
mixin acrossRegion(i)
    | Across the region, 
    - var rl = data[s[i][0]][s[i][1]+'_rank_local'][s[i][2]][s[i][3]]
    if (Math.abs(rl)==1)
        | #[+value(data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"].name)]
        | #[+county(data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"].name)]
        | saw the next greatest #[+value([rl<0?"decrease":"increase"])] in the proportion of #[+value(topic(i).adj_noun)]
        | (from #[+pc((data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"][2001]))] in 2001 
        | to #[+pc((data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"][2011]))] in 2011) 
        | .
        | #[+smallDisc(data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"].name)]
    else if (Math.abs(data[s[i][0]][s[i][1]+'_rank_local'][s[i][2]][s[i][3]])==2)
        | only 
        | #[+value(data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-1":"1"]['name'])]
        | #[+county(data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-1":"1"]['name'])]
        | saw a greater #[+value((rl<0)?'fall':'rise')] in the proportion of #[+value(topic(i).adj_noun)]
        | (from 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-1":"1"]['2001']))] to 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-1":"1"]['2011']))]) 
        | .
        | #[+smallDisc(data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-1":"1"].name)]
    else if (Math.abs(data[s[i][0]][s[i][1]+'_rank_local'][s[i][2]][s[i][3]])==3)
        | only 
        | #[+value(data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-1":"1"]['name'])]
        | #[+county(data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-1":"1"]['name'])]
        | (from 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-1":"1"]['2001']))] to 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-1":"1"]['2011']))]) 
        | and 
        | #[+value(data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-2":"2"]['name'])]
        | #[+county(data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-2":"2"]['name'])]
        | (from 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-2":"2"]['2001']))] to 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank_local']['top_bottom'][s[i][3]][(rl<0)?"-2":"2"]['2011']))]) 
        | saw a greater #[+value(cha(s, place, i)<0?"decrease":"increase")] in the proportion of #[+value(topic(i).adj_noun)].
        | #[+smallDisc(data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-1":"1"].name)]
        | #[+smallDisc(data[s[i][0]][s[i][1]+'_rank_local'].top_bottom[s[i][3]][rl<0?"-2":"2"].name)]

//- Across the North East, the proportion of self-employed people rose from 10% in 2001 to 15% in 2011, while the proportion in nearby Middlesborough rose from 11% to 14%.
mixin acrossRegionExcept(i)
    | Across #[+value(parent)], the proportion of #[+value(topic(i).adj_noun)]
    | #[+value(ud(cha(s, rgn, i), 'rose', 'fell'))]
    | from #[+pc((rgn.data[s[i][0]][s[i][1]]['2001'][s[i][3]]))] to 
    | #[+pc((rgn.data[s[i][0]][s[i][1]]['2011'][s[i][3]]))] between the last two censuses,
    | while the proportion in #[+nearbyname]
    | #[+value(ud(cha(s, near, i), 'rose', 'fell'))]
    | from #[+pc((near.data[s[i][0]][s[i][1]]['2001'][s[i][3]]))] to 
    | #[+pc((near.data[s[i][0]][s[i][1]]['2011'][s[i][3]]))].
    | #[+smallDisc(near.name)]



mixin acrossCountry(i)
    - let loc
    if (rgn.name=='Wales')
        - loc = "_local"
    else 
        - loc = ""
    - var r = data[s[i][0]][s[i][1]+'_rank'][s[i][2]][s[i][3]]
    if (Math.abs(r)==1)
        | #[+value(data[s[i][0]][s[i][1]+'_rank'+loc].top_bottom[s[i][3]][r<0?"-2":"2"].name)] 
        | #[+county(data[s[i][0]][s[i][1]+'_rank'+loc].top_bottom[s[i][3]][r<0?"-2":"2"].name)]
        | saw the next greatest #[+value((r<0)?"drop":"rise")]
        | (from #[+pc((data[s[i][0]][s[i][1]+'_rank'+loc].top_bottom[s[i][3]][r<0?"-2":"2"][2001]))] 
        | to #[+pc((data[s[i][0]][s[i][1]+'_rank'+loc].top_bottom[s[i][3]][r<0?"-2":"2"][2011]))])
        | .
        | #[+smallDisc(data[s[i][0]][s[i][1]+'_rank'+loc].top_bottom[s[i][3]][r<0?"-2":"2"].name)]
    else if (Math.abs(data[s[i][0]][s[i][1]+'_rank'][s[i][2]][s[i][3]])==2)
        | The greatest #[+value((r<0)?"decrease":"increase")] occurred in 
        | #[+value(data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-1":"1"]['name'])]
        | #[+county(data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-1":"1"]['name'])]
        | (from 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-1":"1"]['2001']))] to 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-1":"1"]['2011']))]) 
        | .
        | #[+smallDisc(data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-1":"1"]['name'])]
    else if (Math.abs(data[s[i][0]][s[i][1]+'_rank'][s[i][2]][s[i][3]])==3)
        | The greatest #[+value((r<0)?"decrease":"increase")] occurred in 
        | #[+value(data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-1":"1"]['name'])]
        | #[+county(data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-1":"1"]['name'])]
        | (from 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-1":"1"]['2001']))] to 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-1":"1"]['2011']))]) 
        | followed by
        | #[+value(data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-2":"2"]['name'])]
        | #[+county(data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-2":"2"]['name'])]
        | (from 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-2":"2"]['2001']))] to 
        | #[+pc((data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-2":"2"]['2011']))]).
        | #[+smallDisc(data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-1":"1"]['name'])]
        | #[+smallDisc(data[s[i][0]][s[i][1]+'_rank'+loc]['top_bottom'][s[i][3]][r<0?"-2":"2"]['name'])]

mixin despiteRegion(i)
    | Despite the shift in #[+value(topics[s[i][0]].general)], #[+value(place.name)] still has #[+value(parent)]'s 
    | #[+value(udord(data[s[i][0]][s[i][1]+'_rank_local'][s[i][2]][s[i][3]], 'highest propotion', 'lowest propotion'))]
    | of #[+value(topic(i)['adj_noun'])], 
    | behind
    | #[+value(data[s[i][0]][s[i][1]+'_rank_local']['above_below'][s[i][3]].above.name)]
    | (#[+pc(data[s[i][0]][s[i][1]+'_rank_local']['above_below'][s[i][3]].above.value)]).
    | #[+smallDisc(data[s[i][0]][s[i][1]+'_rank_local']['above_below'][s[i][3]].above.name)]

mixin despiteCountry(i)
    | Despite the shift in #[+value(topics[s[i][0]].general)], #[+value(place.name)] still has #[+value(country)]'s 
    | #[+value(udord(data[s[i][0]][s[i][1]+'_rank'][s[i][2]][s[i][3]], 'highest propotion', 'lowest propotion'))]
    | of #[+value(topic(i)['adj_noun'])], 
    | behind 
    | #[+value(data[s[i][0]][s[i][1]+'_rank']['above_below'][s[i][3]].above.name)]
    | (#[+pc(data[s[i][0]][s[i][1]+'_rank']['above_below'][s[i][3]].above.value)]).
    | #[+smallDisc(data[s[i][0]][s[i][1]+'_rank']['above_below'][s[i][3]].above.name)]

mixin ppoint
    if !hasSaid('PP')
        | percentage points (pp)
        recordSaid('PP')
    else
        | pp

mixin sent2Diff(i, chain0_01, chain0_11, chain1_01, chain1_11)
    - function pcnoprint(x) { if (Math.abs(x)<10) { return Math.round(x*10)/10 }  else { return Math.round(x) } }
    | #[+value(topic(i, chains[s[i][3]][0]).sample)] in 
    | #[+value(place.name)]
    if (Math.round(chain0_11)==Math.round(chain0_01))
        | remained close to #[+pc((chain0_11))]
    else
        | #[+value(ud(chain0_11-chain0_01, 'rose', 'fell'))]
        | from 
        | #[+pc(chain0_01)]
        | to 
        | #[+pc(chain0_11)]
    if (chains[s[i][3]].length>1)
        | , while #[+value(topic(i, chains[s[i][3]][1]).sample)]
        if (pcnoprint(chain1_11)==pcnoprint(chain1_01))
            | remained close to #[+pc((chain1_11))]
        else
            | #[+value(ud(chain1_11-chain1_01, 'increased', 'decreased'))]
            | from 
            | #[+pc(chain1_01)]
            | to 
            | #[+pc(chain1_11)]
    | .

//- The percentage of residents from a Black ethnic group changed very little in Lambeth, while the proportion rose across London.
mixin difference(i, chain0_01, chain0_11, chain1_01, chain1_11)
    | The percentage of #[+value(topic(i).adj_noun)] 
    if (Math.abs(cha(s, place, i))<1)
        | changed very little
    else
        | is #[+value(ud(cha(s, place, i), 'rising', 'falling'))] 
    synz {mode:'sequence'}
        syn
            | in #[+value(place.name)]
        syn
            | here
        syn
            | in this #[+value((place.classification!='unk')?place.classification:'area')]
        syn
            | in this area
    - var curDif
    if ((stories[i].type.includes('nearDiff'))&(!hasSaid('nearDiff'))|(eq(stories[i].type, ['nearDiff'])))
        recordSaid('nearDiff')
        - curDif = 'nearDiff'
        if (Math.abs(cha(s, place, i))<1)
            | , while the proportion #[+value(ud(cha(s, near, i), 'rose', 'fell'))] in
        else
            if (Math.abs(cha(s, place, i)) < Math.abs(cha(s, near, i)))
                | , but at a slower rate than in
            else
                | at a faster rate than in
        | #[+nearbyname].
        | #[+smallDisc(near.name)]
    else if ((stories[i].type.includes('simiDiff'))&(!hasSaid('simiDiff'))|(eq(stories[i].type, ['simiDiff'])))
        recordSaid('simiDiff')
        - curDif = 'simiDiff'
        if (Math.abs(cha(s, place, i))<1)
            | , while the proportion #[+value(ud(cha(s, place.similar, i), 'rose', 'fell'))] in
        else
            if (Math.abs(cha(s, place, i)) < Math.abs(cha(s, place.similar, i)))
                | , but at a slower rate than in
            else
                | at a faster rate than in
        | #[+similarname].
        | #[+smallDisc(place.similar.name)]
    else if (stories[i].type.includes('regDiff')&(!hasSaid('regDiff'))|(eq(stories[i].type, ['regDiff'])))
        recordSaid('regDiff')
        - curDif = 'regDiff'
        if (Math.abs(cha(s, place, i))<1)
            | , while the proportion #[+value(ud(cha(s, rgn, i), 'rose', 'fell'))] 
        else
            if (Math.abs(cha(s, place, i)) < Math.abs(cha(s, rgn, i)))
                | , but at a slower rate than
            else
                | at a faster rate than
        | across #[+value(parent)].
    else if (stories[i].type.includes('couDiff')&(!hasSaid('couDiff'))|(eq(stories[i].type, ['couDiff'])))
        recordSaid('couDiff')
        - curDif = 'couDiff'
        if (Math.abs(cha(s, place, i))<1)
            | , while the proportion #[+value(ud(cha(s, eng, i), 'rose', 'fell'))] 
        else
            if (Math.abs(cha(s, place, i)) < Math.abs(cha(s, eng, i)))
                | , but at a slower rate than
            else
                | at a faster rate than
        | across #[+value(country)].
    p
        | In #[+value(place.name)], the proportion of #[+value(topic(i).adj_noun_s)] 
        if (Math.abs(cha(s, place, i))<0.5)
            | stayed close to #[+pc((data[s[i][0]][s[i][1]][2011][s[i][3]]))] between the last two censuses.
        else
            | #[+value(ud(cha(s, place, i), 'increased', 'decreased'))] 
            | from 
            | #[+pc((data[s[i][0]][s[i][1]][2001][s[i][3]]))]
            | in 2001 to 
            | #[+pc((data[s[i][0]][s[i][1]][2011][s[i][3]]))]
            | in 2011. 
        | During the same period, the 
        if (curDif == 'nearDiff')
            | proportion in #[+nearbyname]
            | #[+value(ud(cha(s, near, i), 'increased', 'decreased'))] from 
            | #[+pc((near.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
            | #[+pc((near.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
            | #[+smallDisc(near.name)]
        else if (curDif == 'simiDiff')
            | proportion in #[+similarname]
            | #[+value(ud(cha(s, place.similar, i), 'increased', 'decreased'))] from 
            | #[+pc((place.similar.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
            | #[+pc((place.similar.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
            | #[+smallDisc(place.similar.name)]
            | #[+county(place.similar.name)]
            - console.log('here')
        else if (curDif == 'regDiff')
            | regional proportion
            | #[+value(ud(cha(s, rgn, i), 'increased', 'decreased'))] from 
            | #[+pc((rgn.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
            | #[+pc((rgn.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
        else if (curDif == 'couDiff')
            | proportion across #[+value(country)]
            | #[+value(ud(cha(s, eng, i), 'increased', 'decreased'))] from 
            | #[+pc((eng.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
            | #[+pc((eng.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
    p 
        if (curDif != 'regDiff')
            | Across !{parent}, the share of #[+value(topic(i).adj_noun)]
            | #[+value(ud(cha(s, rgn, i), 'increased', 'decreased'))] from 
            | #[+pc((rgn.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
            | #[+pc((rgn.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
        else if (cou.name != 'Wales')
            | Across #[+value(country)], the share of #[+value(topic(i).adj_noun)]
            | #[+value(ud(cha(s, eng, i), 'increased', 'decreased'))] from 
            | #[+pc((eng.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
            | #[+pc((eng.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
        else 
            | In #[+nearbyname] the share of #[+value(topic(i).adj_noun)]
            | #[+value(ud(cha(s, near, i), 'increased', 'decreased'))] from 
            | #[+pc((near.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
            | #[+pc((near.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
            | #[+smallDisc(near.name)]
    | #[+sent2Diff(i, chain0_01, chain0_11, chain1_01, chain1_11)]

mixin similarname
    | #[+value(place.similar.name)]
    if (!hasSaid('SIMILAR'))
        recordSaid('SIMILAR')
        | , a statistically similar local authority area
        | #[+county(place.similar.name)]

mixin nearbyname
    if (!hasSaid('NEARBY'))
        recordSaid('NEARBY')
        | nearby
    | #[+value(near.name)]

mixin buck(i, curBuck, chain0_01, chain0_11, chain1_01, chain1_11)
    - function pcnoprint(x) { if (Math.abs(x)<10) { return Math.round(x*10)/10 }  else { return Math.round(x) } }
    | The percentage of #[+value(topic(i).adj_noun)] 
    | is #[+value(ud(cha(s, place, i), 'rising', 'falling'))] 
    synz {mode:'sequence'}
        syn
            | in #[+value(place.name)]
        syn
            | here
        syn
            | in this #[+value((place.classification!='unk')?place.classification:'area')]
        syn
            | in this area
    | #[+value(ud(cha(s, place, i), ', while falling', ', while rising'))]
    if (stories[i].type.includes('regBuck')&stories[i].type.includes('couBuck'))
        | across #[+value(parent)] and #[+value(country)].
    else if (curBuck=='regBuck')
        | across #[+value(parent)].
    else if (curBuck=='couBuck')
        | across #[+value(country)].
    else if (curBuck=="simiBuck")
        | in #[+similarname].
        | #[+smallDisc(place.similar.name)]
    else if (curBuck=="nearBuck")
        | in #[+nearbyname].
        | #[+smallDisc(near.name)]
    p 
        | In #[+value(place.name)], the proportion 
        | #[+value(ud(cha(s, place, i), 'went up', 'came down'))]
        | from 
        | #[+pc((data[s[i][0]][s[i][1]][2001][s[i][3]]))]
        | in 2001 to 
        | #[+pc((data[s[i][0]][s[i][1]][2011][s[i][3]]))]
        | in 2011
        if (curBuck=='couBuck')
            | , while across #[+value(country)] it
            | #[+value(ud(cha(s, place, i), 'fell', 'went up'))]
            | from #[+pc((eng.data[s[i][0]][s[i][1]][2001][s[i][3]]))]
            | to #[+pc((eng.data[s[i][0]][s[i][1]][2011][s[i][3]]))]
        else if (curBuck=="simiBuck")
            | , while across #[+value(country)] it
            | #[+value(ud(cha(s, place, i), 'fell', 'went up'))]
            | from #[+pc((place.similar.data[s[i][0]][s[i][1]][2001][s[i][3]]))]
            | to #[+pc((place.similar.data[s[i][0]][s[i][1]][2011][s[i][3]]))]
        else if (curBuck=="nearBuck")
            | , while across #[+value(country)] it
            | #[+value(ud(cha(s, place, i), 'fell', 'went up'))]
            | from #[+pc((near.data[s[i][0]][s[i][1]][2001][s[i][3]]))]
            | to #[+pc((near.data[s[i][0]][s[i][1]][2011][s[i][3]]))]
        | .
        | During the same period, the regional proportion 
        if (pcnoprint(rgn.data[s[i][0]][s[i][1]][2001][s[i][3]]) == pcnoprint(rgn.data[s[i][0]][s[i][1]][2011][s[i][3]]))
            | remained close to
        else
            | #[+value(ud(cha(s, rgn, i), 'rose', 'fell'))] from 
            | #[+pc((rgn.data[s[i][0]][s[i][1]][2001][s[i][3]]))] to 
        | #[+pc((rgn.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
    | #[+sent2Diff(i, chain0_01, chain0_11, chain1_01, chain1_11)]

mixin allOthers(i, r, updo)
    | Every local authority area across #[+value(parent)] saw a #[+value((updo=="d")?"fall":"rise")]
    | in the proportion of #[+value(topic(i).adj_noun)], as the regional average
    | #[+value((updo=="d")?"dropped":"grew")] from #[+pc((rgn.data[s[i][0]][s[i][1]][2001][s[i][3]]))]
    | to #[+pc((rgn.data[s[i][0]][s[i][1]][2011][s[i][3]]))].

mixin welsh(i)
    p
        | The proportion of Welsh speakers in !{place.name} 
        | #[+value(ud(cha(s, place, i), 'rose', 'fell'))] 
        | from #[+pc((place.data[s[i][0]][s[i][1]][2001][s[i][3]]))]
        | to #[+pc((place.data[s[i][0]][s[i][1]][2011][s[i][3]]))]
        | in the 10 years leading up to Census 2011. 
    if (Math.abs(place.data[s[i][0]][s[i][1]+'_rank_local']['change'][s[i][3]])<4)
        p 
            | This amounts to the 
            | #[+value(drop(data[s[i][0]][s[i][1]+'_rank_local']['change'][s[i][3]], 'largest decline', 'largest increase'))]
            | in the proportion of Welsh speakers of any local authority area in the country.
            if (data.welsh.perc_rank_local.top_bottom.SpeaksWelsh[1].name!=place.name)
                | Of the few areas where knowledge of the Welsh language increased, !{data.welsh.perc_rank_local.top_bottom.SpeaksWelsh[1].name} saw the greatest change
                | (from 
                | #[+pc((data.welsh.perc_rank_local.top_bottom.SpeaksWelsh[1][2001]))]
                | to 
                | #[+pc((data.welsh.perc_rank_local.top_bottom.SpeaksWelsh[1][2011]))]).
            else 
                | The next greatest increase was seen in !{data.welsh.perc_rank_local.top_bottom.SpeaksWelsh[2].name} 
                | (from #[+pc((data.welsh.perc_rank_local.top_bottom.SpeaksWelsh[2][2001]))] in 2001 to 
                | #[+pc((data.welsh.perc_rank_local.top_bottom.SpeaksWelsh[2][2011]))] in 2011), 
                | while !{data.welsh.perc_rank_local.top_bottom.SpeaksWelsh["-1"].name} saw the greatest decline
                | (from #[+pc((data.welsh.perc_rank_local.top_bottom.SpeaksWelsh["-1"][2001]))] to 
                | #[+pc((data.welsh.perc_rank_local.top_bottom.SpeaksWelsh["-1"][2011]))]).
    p 
        - let v11speak = place.data[s[i][0]]['value'][2011][s[i][3]]
        - let v01speak = place.data[s[i][0]]['value'][2001][s[i][3]]
        - let v11nosp = place.data[s[i][0]]['value'][2011]['NoWelsh']
        - let v01nosp = place.data[s[i][0]]['value'][2001]['NoWelsh']
        - let difnosp = v11nosp - v01nosp
        - let difspeak = v11speak - v01speak
        | There are 
        | #[+value(Math.abs(difspeak))]  
        | #[+value((difspeak)<0?'fewer':'more')] people living 
        if (Math.abs(place.data[s[i][0]][s[i][1]+'_rank_local']['change'][s[i][3]])>3)
            | here 
        else
            | in !{place.name} 
        | who speak Welsh compared with 2001, 
        | while the number of people who do not speak Welsh #[+value((difnosp)>0?'increased':'decreased')] by #[+value(Math.abs(difnosp))].
    p
        if (Math.round(place.nearbyArea.nearTops.data[s[i][0]][s[i][1]][2011][s[i][3]]*10) == Math.round(place.nearbyArea.nearTops.data[s[i][0]][s[i][1]][2001][s[i][3]]*10))
            | In #[+nearbyname], the proportion of people over the age of three
            | who can speak some Welsh remained close to #[+pc((place.nearbyArea.nearTops.data[s[i][0]][s[i][1]][2011][s[i][3]]))].
            | #[+smallDisc(near.name)]
        else
            | In #[+nearbyname], #[+pc((place.nearbyArea.nearTops.data[s[i][0]][s[i][1]][2011][s[i][3]]))] of people over the age of three
            | can speak some Welsh
            | , #[+value(ud(cha(s, place.nearbyArea.nearTops, i), 'up', 'down'))]
            | from #[+pc((place.nearbyArea.nearTops.data[s[i][0]][s[i][1]][2001][s[i][3]]))] at the 2001 census.
            | .
            | #[+smallDisc(near.name)]
        | Across Wales, the proportion 
        | #[+value(ud(cha(s, rgn, i), 'rose', 'fell'))] from
        | #[+pc((rgn.data[s[i][0]][s[i][1]][2001][s[i][3]]))] 
        | to
        | #[+pc((rgn.data[s[i][0]][s[i][1]][2011][s[i][3]]))] 
        | .
    if (Math.abs(place.data[s[i][0]][s[i][1]+'_rank_local'][2011][s[i][3]])>3) & (Math.abs(place.data[s[i][0]][s[i][1]+'_rank_local']['change'][s[i][3]])>3)
        p
            | !{data.welsh.perc_rank_local.top_bottom.SpeaksWelsh[1].name} 
            | was one of the few areas that saw an increase in the proportion of Welsh speakers (from 
            | #[+pc((data.welsh.perc_rank_local.top_bottom.SpeaksWelsh[1][2001]))] 
            | in 2001 to 
            | #[+pc((data.welsh.perc_rank_local.top_bottom.SpeaksWelsh[1][2011]))] 
            | in 2011)
            | , while !{data.welsh.perc_rank_local.top_bottom.SpeaksWelsh["-1"].name} saw the greatest fall (from 
            | #[+pc((data.welsh.perc_rank_local.top_bottom.SpeaksWelsh["-1"][2001]))] 
            | to 
            | #[+pc((data.welsh.perc_rank_local.top_bottom.SpeaksWelsh["-1"][2011]))]
            | ). 

mixin val(x)
    - var sig = parseFloat(x.toPrecision(2))
    synz
        syn
            | about
        syn
            if (x>sig)
                | just over 
            else if (x<sig)
                | just under 
        syn
            | about
        syn
            if (x>sig)
                | just over 
            else if (x<sig)
                | just under
        syn 
            | 
    | #[+value(sig)]

mixin pc(x)
    if (Math.abs(x)<10)
        - var num = Math.round(x*10)/10
        | #[+value((num/100), {'FORMAT': '0.0%'})]
    else 
        | #[+value((x/100), {'FORMAT': '0%'})] 

mixin religion(i)
    - function pcnoprint(x) { if (Math.abs(x)<10) { return Math.round(x*10)/10 }  else { return Math.round(x) } }
    - var obj = place.data.religion.perc.change
    - var bigChange = Object.keys(obj).reduce((a, b) => obj[a] > obj[b] ? a : b)
    p 
        | The number of people in !{place.name} 
        | #[+value(topics['religion'][bigChange]['verb'])]
        | increased from 
        | #[+val(data.religion.value[2001][bigChange])] in 2001 
        | to #[+val(data.religion.value[2011][bigChange])] in 2011. 
        | This represents a change from 
        | #[+pc(data.religion.perc[2001][bigChange])] 
        | to #[+pc(data.religion.perc[2011][bigChange])] of the local population.
    p
        - var locDiff = Math.round(data.religion.perc[2011][bigChange] - data.religion.perc[2001][bigChange])
        - var regDiff = Math.round(rgn.data.religion.perc[2011][bigChange] - rgn.data.religion.perc[2001][bigChange])
        - var couDiff = Math.round(cou.data.religion.perc[2011][bigChange] - cou.data.religion.perc[2001][bigChange])
        | The percentage increased
        if (locDiff == regDiff)
            | at a similar rate to 
        else if (locDiff > regDiff)
            | by more than 
        else if (locDiff < regDiff)
            | by less than
        | the average across !{parent} 
        - var pcbc01 = pcnoprint(data.religion.perc[2001][bigChange])
        - var pcbc11 = pcnoprint(data.religion.perc[2011][bigChange])
        if (pcbc01==pcbc11)
            | (#[+pc(rgn.data.religion.perc[2011][bigChange])])
        else
            | (from #[+pc(rgn.data.religion.perc[2001][bigChange])] to 
            | #[+pc(rgn.data.religion.perc[2011][bigChange])])
        if (cou.name!='Wales')
            if (Math.sign(locDiff-regDiff)==Math.sign(locDiff-couDiff))
                | and
            else
                if (locDiff == couDiff)
                    | , but at a similar rate to 
                else if (locDiff > couDiff)
                    | , but at a faster rate than 
                else if (locDiff < couDiff)
                    | , but at a slower rate than
            | the average across !{cou.name} 
            | (from #[+pc(cou.data.religion.perc[2001][bigChange])] to 
            | #[+pc(cou.data.religion.perc[2011][bigChange])])
        | .
    p 
        - var objAbs = Object.assign({}, place.data.religion.value[2011]) 
        - delete objAbs[bigChange]
        - delete objAbs['all']
        - var bigAbs1 = Object.keys(objAbs).reduce((a, b) => objAbs[a] > objAbs[b] ? a : b)
        - var bigAbs1Cha = parseFloat(data.religion.value[2011][bigAbs1].toPrecision(2)) - parseFloat(data.religion.value[2001][bigAbs1].toPrecision(2))
        - delete objAbs[bigAbs1]
        - var bigAbs2 = Object.keys(objAbs).reduce((a, b) => objAbs[a] > objAbs[b] ? a : b)
        - var bigAbs2Cha = parseFloat(data.religion.value[2011][bigAbs2].toPrecision(2)) - parseFloat(data.religion.value[2001][bigAbs2].toPrecision(2))
        - delete objAbs[bigAbs2]
        - var bigAbs3 = Object.keys(objAbs).reduce((a, b) => objAbs[a] > objAbs[b] ? a : b)
        | The number of people in !{place.name} 
        | #[+value(topics['religion'][bigAbs1]['verb'])]
        if (data.religion.value[2001][bigAbs1].toPrecision(2) == data.religion.value[2011][bigAbs1].toPrecision(2))
            | remained close to #[+value(parseFloat(data.religion.value[2011][bigAbs1].toPrecision(2)))] (#[+pc(data.religion.perc[2011][bigAbs1])]) between the last two censuses.
        else 
            if (parseFloat(data.religion.value[2001][bigAbs1].toPrecision(2)) < parseFloat(data.religion.value[2011][bigAbs1].toPrecision(2)))
                | increased
            else if (parseFloat(data.religion.value[2001][bigAbs1].toPrecision(2)) > parseFloat(data.religion.value[2011][bigAbs1].toPrecision(2)))
                | decreased
            | from #[+val(data.religion.value[2001][bigAbs1])]
            | in 2001 to
            | #[+val(data.religion.value[2011][bigAbs1])]
            | in 2011
            - var pcba101 = pcnoprint(data.religion.perc[2001][bigAbs1])
            - var pcba111 = pcnoprint(data.religion.perc[2011][bigAbs1])
            - var pcba1Cha = pcnoprint(data.religion.perc[2011][bigAbs1]) - pcnoprint(data.religion.perc[2001][bigAbs1])
            if (Math.sign(bigAbs1Cha) == Math.sign(pcba1Cha))
                if (pcba101 == pcba111)
                    | (#[+pc(data.religion.perc[2001][bigAbs1])]).
                else
                    | (from #[+pc(data.religion.perc[2001][bigAbs1])] 
                    | to #[+pc(data.religion.perc[2011][bigAbs1])]).
            else 
                if (pcba101 == pcba111)
                    | .
                    | Both of these figures represented about #[+pc(data.religion.perc[2001][bigAbs1])] of the total population at the time of each of their respective censuses.
                else
                    recordSaid('asShareR')
                    | . 
                    | However, as a share of the total population this represented
                    if ( (data.religion.perc[2011][bigAbs1] - data.religion.perc[2001][bigAbs1]) > 0 )
                        | an increase 
                    else
                        | a decrease 
                    | from #[+pc(data.religion.perc[2001][bigAbs1])] 
                    | to #[+pc(data.religion.perc[2011][bigAbs1])].        
        | The number of 
        | #[+value(topics['religion'][bigAbs2]['adj_noun'])]
        if (data.religion.value[2001][bigAbs2].toPrecision(2) == data.religion.value[2011][bigAbs2].toPrecision(2))
            | remained close to #[+value(parseFloat(data.religion.value[2011][bigAbs2].toPrecision(2)))] (#[+pc(data.religion.perc[2011][bigAbs2])])
        else 
            if (data.religion.value[2001][bigAbs2]<data.religion.value[2011][bigAbs2])
                | increased 
            else if (data.religion.value[2001][bigAbs2]>data.religion.value[2011][bigAbs2])
                | decreased
            | from #[+val(data.religion.value[2001][bigAbs2])]
            | to 
            | #[+val(data.religion.value[2011][bigAbs2])]
            - var pcba201 = pcnoprint(data.religion.perc[2001][bigAbs2])
            - var pcba211 = pcnoprint(data.religion.perc[2011][bigAbs2])
            - var pcba2Cha = pcnoprint(data.religion.perc[2011][bigAbs2]) - pcnoprint(data.religion.perc[2001][bigAbs2])
            if ((Math.sign(bigAbs2Cha) == Math.sign(pcba2Cha)) | (hasSaid('asShareR')))
                if (pcba201 == pcba211)
                    | (#[+pc(data.religion.perc[2001][bigAbs2])]).
                else
                    | (from #[+pc(data.religion.perc[2001][bigAbs2])] 
                    | to #[+pc(data.religion.perc[2011][bigAbs2])]).
            else 
                if (pcba201 == pcba211)
                    | .
                    | Both of these figures represented about #[+pc(data.religion.perc[2001][bigAbs2])] of the total population at the time of each of their respective censuses.
                else
                    | . 
                    | However, as a share of the total population this represented
                    if ( (data.religion.perc[2011][bigAbs2] - data.religion.perc[2001][bigAbs2]) > 0 )
                        | an increase 
                    else
                        | a decrease 
                    | from #[+pc(data.religion.perc[2001][bigAbs2])] 
                    | to #[+pc(data.religion.perc[2011][bigAbs2])].
    p
        | #[+val(data.religion.value[2011][bigAbs3])] people (#[+pc(data.religion.perc[2001][bigAbs3])])
        | #[+value(topics['religion'][bigAbs3]['verb_past_samp'])],
        if (data.religion.value[2001][bigAbs3].toPrecision(2) == data.religion.value[2011][bigAbs3].toPrecision(2))
            | similar to the amount in 2001 (which at the time represented #[+pc(data.religion.perc[2011][bigAbs3])])
        else 
            if (data.religion.value[2001][bigAbs3]<data.religion.value[2011][bigAbs3])
                | up 
            else if (data.religion.value[2001][bigAbs3]>data.religion.value[2011][bigAbs3])
                | down
            | from 
            | #[+val(data.religion.value[2001][bigAbs3])]
            | in 2001 (#[+pc(data.religion.perc[2011][bigAbs3])]).
    p 
        | There are many factors that can cause changes to the religious profile of an area, such as migration and varying fertility rates between religious groups.

mixin ethnicity(i)
    - function pcnoprint(x) { if (Math.abs(x)<10) { return Math.round(x*10)/10 }  else { return Math.round(x) } }
    - var obj = place.data.ethnicity.perc.change
    - var bigChange = Object.keys(obj).reduce((a, b) => obj[a] > obj[b] ? a : b)
    p 
        | The number of people in !{place.name} 
        | #[+value(topics['ethnicity'][bigChange]['verb'])]
        | increased from 
        | #[+val(data.ethnicity.value[2001][bigChange])] in 2001 
        | to #[+val(data.ethnicity.value[2011][bigChange])] in 2011. 
        | This represents a change from 
        | #[+pc(data.ethnicity.perc[2001][bigChange])] 
        | to #[+pc(data.ethnicity.perc[2011][bigChange])] of the local population.
    p
        - var locDiff = Math.round(data.ethnicity.perc[2011][bigChange] - data.ethnicity.perc[2001][bigChange])
        - var regDiff = Math.round(rgn.data.ethnicity.perc[2011][bigChange] - rgn.data.ethnicity.perc[2001][bigChange])
        - var couDiff = Math.round(cou.data.ethnicity.perc[2011][bigChange] - cou.data.ethnicity.perc[2001][bigChange])
        | The percentage increased
        if (locDiff == regDiff)
            | at a similar rate to 
        else if (locDiff > regDiff)
            | by more than 
        else if (locDiff < regDiff)
            | by less than
        | the average across !{parent} 
        - var pcbc01 = pcnoprint(data.ethnicity.perc[2001][bigChange])
        - var pcbc11 = pcnoprint(data.ethnicity.perc[2011][bigChange])
        if (pcbc01==pcbc11)
            | (#[+pc(rgn.data.ethnicity.perc[2011][bigChange])])
        else
            | (from #[+pc(rgn.data.ethnicity.perc[2001][bigChange])] to 
            | #[+pc(rgn.data.ethnicity.perc[2011][bigChange])])
        if (cou.name!='Wales')
            if (Math.sign(locDiff-regDiff)==Math.sign(locDiff-couDiff))
                | and
            else
                if (locDiff == couDiff)
                    | , but at a similar rate to 
                else if (locDiff > couDiff)
                    | , but at a faster rate than 
                else if (locDiff < couDiff)
                    | , but at a slower rate than
            | the average across !{cou.name} 
            | (from #[+pc(cou.data.ethnicity.perc[2001][bigChange])] to 
            | #[+pc(cou.data.ethnicity.perc[2011][bigChange])])
        | .
    p 
        - var objAbs = Object.assign({}, place.data.ethnicity.value[2011]) 
        - delete objAbs[bigChange]
        - delete objAbs['all']
        - var bigAbs1 = Object.keys(objAbs).reduce((a, b) => objAbs[a] > objAbs[b] ? a : b)
        - var bigAbs1Cha = parseFloat(data.ethnicity.value[2011][bigAbs1].toPrecision(2)) - parseFloat(data.ethnicity.value[2001][bigAbs1].toPrecision(2))
        - delete objAbs[bigAbs1]
        - var bigAbs2 = Object.keys(objAbs).reduce((a, b) => objAbs[a] > objAbs[b] ? a : b)
        - var bigAbs2Cha = parseFloat(data.ethnicity.value[2011][bigAbs2].toPrecision(2)) - parseFloat(data.ethnicity.value[2001][bigAbs2].toPrecision(2))
        - delete objAbs[bigAbs2]
        - var bigAbs3 = Object.keys(objAbs).reduce((a, b) => objAbs[a] > objAbs[b] ? a : b)
        | The number of people in !{place.name} 
        | #[+value(topics['ethnicity'][bigAbs1]['verb'])]
        if (data.ethnicity.value[2001][bigAbs1].toPrecision(2) == data.ethnicity.value[2011][bigAbs1].toPrecision(2))
            | remained close to #[+value(parseFloat(data.ethnicity.value[2011][bigAbs1].toPrecision(2)))] (#[+pc(data.ethnicity.perc[2011][bigAbs1])]) between the last two censuses.
        else 
            if (parseFloat(data.ethnicity.value[2001][bigAbs1].toPrecision(2)) < parseFloat(data.ethnicity.value[2011][bigAbs1].toPrecision(2)))
                | increased
            else if (parseFloat(data.ethnicity.value[2001][bigAbs1].toPrecision(2)) > parseFloat(data.ethnicity.value[2011][bigAbs1].toPrecision(2)))
                | decreased
            | from #[+val(data.ethnicity.value[2001][bigAbs1])]
            | in 2001 to
            | #[+val(data.ethnicity.value[2011][bigAbs1])]
            | in 2011
            - var pcba101 = pcnoprint(data.ethnicity.perc[2001][bigAbs1])
            - var pcba111 = pcnoprint(data.ethnicity.perc[2011][bigAbs1])
            - var pcba1Cha = pcnoprint(data.ethnicity.perc[2011][bigAbs1]) - pcnoprint(data.ethnicity.perc[2001][bigAbs1])
            if (Math.sign(bigAbs1Cha) == Math.sign(pcba1Cha))
                if (pcba101 == pcba111)
                    | (#[+pc(data.ethnicity.perc[2001][bigAbs1])]).
                else
                    | (from #[+pc(data.ethnicity.perc[2001][bigAbs1])] 
                    | to #[+pc(data.ethnicity.perc[2011][bigAbs1])]).
            else 
                if (pcba101 == pcba111)
                    | .
                    | Both of these figures represented about #[+pc(data.ethnicity.perc[2001][bigAbs1])] of the total population at the time of each of their respective censuses.
                else
                    recordSaid('asShareE')
                    | . 
                    | However, as a share of the total population this represented
                    if ( (data.ethnicity.perc[2011][bigAbs1] - data.ethnicity.perc[2001][bigAbs1]) > 0 )
                        | an increase 
                    else
                        | a decrease 
                    | from #[+pc(data.ethnicity.perc[2001][bigAbs1])] 
                    | to #[+pc(data.ethnicity.perc[2011][bigAbs1])].
        | The number of 
        | #[+value(topics['ethnicity'][bigAbs2]['adj_noun'])]
        if (data.ethnicity.value[2001][bigAbs2].toPrecision(2) == data.ethnicity.value[2011][bigAbs2].toPrecision(2))
            | remained close to #[+value(parseFloat(data.ethnicity.value[2011][bigAbs2].toPrecision(2)))] (#[+pc(data.ethnicity.perc[2011][bigAbs2])])
        else 
            if (data.ethnicity.value[2001][bigAbs2]<data.ethnicity.value[2011][bigAbs2])
                | increased 
            else if (data.ethnicity.value[2001][bigAbs2]>data.ethnicity.value[2011][bigAbs2])
                | decreased
            | from #[+val(data.ethnicity.value[2001][bigAbs2])]
            | to 
            | #[+val(data.ethnicity.value[2011][bigAbs2])]
            - var pcba201 = pcnoprint(data.ethnicity.perc[2001][bigAbs2])
            - var pcba211 = pcnoprint(data.ethnicity.perc[2011][bigAbs2])
            - var pcba2Cha = pcnoprint(data.ethnicity.perc[2011][bigAbs2]) - pcnoprint(data.ethnicity.perc[2001][bigAbs2])
            if ((Math.sign(bigAbs2Cha) == Math.sign(pcba2Cha)) | (hasSaid('asShareE')))
                if (pcba201 == pcba211)
                    | (#[+pc(data.ethnicity.perc[2001][bigAbs2])]).
                else
                    | (from #[+pc(data.ethnicity.perc[2001][bigAbs2])] 
                    | to #[+pc(data.ethnicity.perc[2011][bigAbs2])]).
            else 
                if (pcba201 == pcba211)
                    | .
                    | Both of these figures represented about #[+pc(data.ethnicity.perc[2001][bigAbs2])] of the total population at the time of each of their respective censuses.
                else
                    | . 
                    | However, as a share of the total population this represented
                    if ( (data.ethnicity.perc[2011][bigAbs2] - data.ethnicity.perc[2001][bigAbs2]) > 0 )
                        | an increase 
                    else
                        | a decrease 
                    | from #[+pc(data.ethnicity.perc[2001][bigAbs2])] 
                    | to #[+pc(data.ethnicity.perc[2011][bigAbs2])].        
    p
        | #[+val(data.ethnicity.value[2011][bigAbs3])] people (#[+pc(data.ethnicity.perc[2001][bigAbs3])])
        | #[+value(topics['ethnicity'][bigAbs3]['verb_past_samp'])],
        if (data.ethnicity.value[2001][bigAbs3].toPrecision(2) == data.ethnicity.value[2011][bigAbs3].toPrecision(2))
            | similar to the amount in 2001 (which at the time represented #[+pc(data.ethnicity.perc[2011][bigAbs3])])
        else 
            if (data.ethnicity.value[2001][bigAbs3]<data.ethnicity.value[2011][bigAbs3])
                | up 
            else if (data.ethnicity.value[2001][bigAbs3]>data.ethnicity.value[2011][bigAbs3])
                | down
            | from 
            | #[+val(data.ethnicity.value[2001][bigAbs3])]
            | in 2001 (#[+pc(data.ethnicity.perc[2011][bigAbs3])]).
    p 
        | There are many factors that can cause changes to the ethnic profile of an area, such as migration and varying fertility rates between ethnic groups.

//- Deals with all percentage based variables
mixin percPara(i, chain0_01, chain0_11, chain1_01, chain1_11)
    if (s[i][0]=='ethnicity')
        - var obj = place.data.ethnicity.perc.change
        - var bigChange = Object.keys(obj).reduce((a, b) => obj[a] > obj[b] ? a : b)
        if (data.ethnicity.value[2011][bigChange]>data.ethnicity.value[2001][bigChange])
            h2 #[+value(topics['ethnicity'][bigChange].subhead.pos)]
        else if (data.ethnicity.value[2011][bigChange]<data.ethnicity.value[2001][bigChange])
            h2 #[+value(topics['ethnicity'][bigChange].subhead.neg)]
        else 
            h2 #[+value(topics['ethnicity'][bigChange].subhead.sta)]
    else if (s[i][0]=='religion')
        - var obj = place.data.religion.perc.change
        - var bigChange = Object.keys(obj).reduce((a, b) => obj[a] > obj[b] ? a : b)
        if (data.religion.value[2011][bigChange]>data.religion.value[2001][bigChange])
            h2 #[+value(topics['religion'][bigChange].subhead.pos)]
        else if (data.religion.value[2011][bigChange]<data.religion.value[2001][bigChange])
            h2 #[+value(topics['religion'][bigChange].subhead.neg)]
        else 
            h2 #[+value(topics['religion'][bigChange].subhead.sta)]
    else
        if ((findOne(stories[i].type, ['couBuck', 'regBuck']))&(!stories[i].type.includes('natRank')))
            h2 #[+value(topic(i).subhead.buc)]
        else if ((cha(s, place, i)<-1)&(data[s[i][0]]['value'][2011][s[i][3]]<data[s[i][0]]['value'][2001][s[i][3]]))
            h2 #[+value(topic(i).subhead.neg)]
        else if ((cha(s, place, i)>1)&(data[s[i][0]]['value'][2011][s[i][3]]>data[s[i][0]]['value'][2001][s[i][3]]))
            h2 #[+value(topic(i).subhead.pos)]
        else if (findOne(stories[i].type, ['nearDiff', 'couDiff', 'regDiff']))
            h2 #[+value(topic(i).subhead.sta)]
        else 
            h2 #[+value(topic(i).subhead.neu)]
    if (s[i][0] == 'welsh')
        | #[+welsh(i)]
    else if (s[i][0] == 'religion')
        | #[+religion(i)]
    else if (s[i][0] == 'ethnicity')
        | #[+ethnicity(i)]
    else
        - var chain0_11 = data[s[i][0]][s[i][1]][2011][chains[s[i][3]][0]]
        - var chain0_01 = data[s[i][0]][s[i][1]][2001][chains[s[i][3]][0]] 
        - var chain1_11 = data[s[i][0]][s[i][1]][2011][chains[s[i][3]][1]] 
        - var chain1_01 = data[s[i][0]][s[i][1]][2001][chains[s[i][3]][1]] 
        if (stories[i].type.includes('natRank'))
            | #[+rank1nat(i)]
            if (s[i][0] == 'health')
                | Rates are standardised to account for variation in age which can impact the local population's health.
            if (data[s[i][0]][s[i][1]+"_rank"].top_bottom[s[i][3]][1].change<0)
                p #[+allOthers(i, "", "d")]
            else if (data[s[i][0]][s[i][1]+"_rank"].top_bottom[s[i][3]]["-1"].change>0)
                p #[+allOthers(i, "", "u")]
            else if ((data[s[i][0]][s[i][1]+'_rank']['overtake'][s[i][3]].length>0)&(Math.abs(cur(s, place, i, 'r'))<10))
                p #[+overtake(i, "")]
            else
                if (Math.sign(data[s[i][0]][s[i][1]+'_rank_local'][s[i][2]][s[i][3]]) != Math.sign(cha(s, place, i)))
                    p #[+acrossRegionExcept(i)]
                else
                    if ((sign(cha(s, place, i)))!=(sign(cur(s, place, i, 'rl'))))
                        p #[+despiteRegion(i)]
            p #[+rank2(i)]
        else if ((stories[i].type.includes('regBuck'))|(eq(stories[i].type, ['regBuck'])))
            - var curBuck = 'regBuck'
            | #[+buck(i, curBuck, chain0_01, chain0_11, chain1_01, chain1_11)]
            if (s[i][0] == 'health')
                | Rates are standardised to account for variation in age which can impact the local population's health.
        else if ((stories[i].type.includes('couBuck'))|(eq(stories[i].type, ['couBuck'])))
            - var curBuck = 'couBuck'
            | #[+buck(i, curBuck, chain0_01, chain0_11, chain1_01, chain1_11)]
            if (s[i][0] == 'health')
                | Rates are standardised to account for variation in age which can impact the local population's health.
        else if (((stories[i].type.includes('size'))&(!hasSaid('SIZE')))|(eq(stories[i].type, ['size'])))
            recordSaid('SIZE')
            | #[+sent1Perc(i)]
            if (s[i][0] == 'health')
                | Rates are standardised to account for variation in age which can impact the local population's health.
            p #[+sent2Perc(i, chain0_01, chain0_11, chain1_01, chain1_11)]
            p #[+sent3Perc(i)]
        else if (stories[i].type.includes('locRank'))
            deleteSaid('SIZE')
            | #[+rank1reg(i)]
            if (s[i][0] == 'health')
                | Rates are standardised to account for variation in age which can impact the local population's health.
            if (data[s[i][0]][s[i][1]+"_rank_local"].top_bottom[s[i][3]][1].change<0)
                p #[+allOthers(i, "_local", "d")]
            if (data[s[i][0]][s[i][1]+"_rank_local"].top_bottom[s[i][3]]["-1"].change>0)
                p #[+allOthers(i, "_local", "u")]
            else if ((data[s[i][0]][s[i][1]+'_rank_local']['overtake'][s[i][3]].length>0)&(Math.abs(cur(s, place, i, 'rl'))<20))
                p #[+overtake(i, "_local")]
            else
                if (Math.sign(data[s[i][0]][s[i][1]+'_rank_local'][s[i][2]][s[i][3]]) != Math.sign(cha(s, place, i)))
                    p #[+acrossRegionExcept(i)]
                else
                    if ((sign(cha(s, place, i)))!=(sign(cur(s, place, i, 'rl'))))
                        p #[+despiteRegion(i)]
            p #[+rank2(i)]
        else if ((stories[i].type.includes('simiBuck'))&(!hasSaid('BUCK'))|(eq(stories[i].type, ['simiBuck'])))
            recordSaid('BUCK')
            - var curBuck = 'simiBuck'
            | #[+buck(i, curBuck, chain0_01, chain0_11, chain1_01, chain1_11)]
            if (s[i][0] == 'health')
                | Rates are standardised to account for variation in age which can impact the local population's health.
        else if ((stories[i].type.includes('nearBuck'))&(!hasSaid('BUCK'))|(eq(stories[i].type, ['nearBuck'])))
            recordSaid('BUCK')
            - var curBuck = 'nearBuck'
            | #[+buck(i, curBuck, chain0_01, chain0_11, chain1_01, chain1_11)]
            if (s[i][0] == 'health')
                | Rates are standardised to account for variation in age which can impact the local population's health.
        else
            deleteSaid('SIZE')
            | #[+difference(i, chain0_01, chain0_11, chain1_01, chain1_11)]
            if (s[i][0] == 'health')
                | Rates are standardised to account for variation in age which can impact the local population's health.
        if (s[i][0]=='health')
            p #[+healthExplain]

mixin para(i)
    -console.log('S -', i,  stories[i])
    if (s[i][1] == 'value')
        if (s[i][0] == 'agemed')
            h2 #[+subheadAge(i)]
            | #[+sent1Age(i)]
            p #[+sent2Age(i)]
            p #[+sent3Age(i)]
        else
            h2 #[+subheadVal(i)]
            p #[+sent1pop(i)]
            p #[+sent2pop(i)]
            if (s[i][0]=='population')
                p #[+density]
            //- if ((data['density'][s[i][1]+'_rank'].overtake[s[i][3]].length>0)&(Math.abs(cur(s, place, i, "r"))<30))
            //-     p #[+sent4Pop(i)]
    if (s[i][1] == 'perc')
        | #[+percPara(i)]

mixin chartTitleSize(i)
    if (s[i][0]=="population")
        h4 
            | Population density is increasing here at a 
            | #[+value(uds(data.density.value.change.all-rgn.data.density.value.change.all, "faster rate than", "slower rate than", "similar rate to"))]
            | #[+value(parent)]
        h5 
            | Population density (usual residents per 7,140 square metres) across #[+value(place.name)], #[+value((country=="Wales")?simi.name:parent)] and #[+value(country)], March 2001 and March 2011
    else if (s[i][0]=="agemed")
        h4 
            - let agegroup = data.age10yr.absChange['pos'][0][0]
            | About #[+pc(Math.round(place.data.age10yr.perc[2011][agegroup]))]
            | of people in !{place.name} are aged
            | #[+value(ageBandLU[agegroup][1])]
        h5 
            | The percentage of #[+value(topics[s[i][0]].measure)] in #[+value(place.name)] by 10 year age band, March 2001, March 2011
    else
        h4 
            | #[+value(topic(i).sample)] in 
            | #[+value(place.name)]
            | #[+value((cha(s, place, i)<0)?"decreased":"increased")] by
            | #[+rou(Math.abs(cha(s, place, i)))]
            | percentage points
        h5 
            | The percentage of #[+value(topics[s[i][0]].measure)] in #[+value(place.name)], #[+value(parent)] and #[+value(country)] that #[+value(topic(i).verb_past)], March 2001 and March 2011

mixin chartTitleBar(i)
    h4 
        | #[+value(topic(i).sample)] in 
        | #[+value(place.name)]
        | #[+value((cha(s, place, i)<0)?"decreased":"increased")] by
        | #[+rou(Math.abs(cha(s, place, i)))]
        | percentage points
    h5 
        | The percentage of #[+value(place.name)] #[+value(topics[s[i][0]].measure)] by !{s[i][0]}, March 2001 and March 2011


mixin chartTitleOther(i)
    if (s[i][0]=="population")
        h4 
            | Population density is
            | #[+value(uds(data.density.value[2011].all-rgn.data.density.value[2011].all, "higher than", "lower than", "similar to"))]
            | the average across #[+value(parent)]
        h5 
            | Population density (usual residents per #[+value(7140)] square metres) across #[+value(parent)], March 2011 (larger dots represent greater increase since 2001)
    else if (s[i][0]=="agemed")
        h4 
            - let agegroup = data.age10yr.absChange['pos'][0][0]
            | About #[+pc(Math.round(place.data.age10yr.perc[2011][agegroup]))]
            | of people in !{place.name} are aged
            | #[+value(ageBandLU[agegroup][1])]
        h5 
            | The percentage of #[+value(topics[s[i][0]].measure)] in #[+value(place.name)] by 10 year age band, March 2001 and March 2011
    else
        h4 
            | #[+value(topic(i).sample)] 
            | #[+value((cur(s, place, i)-cur(s, rgn, i)<0)?"is lower than":"is higher than")] across #[+value(parent)]
        h5 
            | The percentage of #[+value(topics[s[i][0]].measure)] that #[+value(topic(i).verb_past)] across local authority areas in #[+value(parent)] and the average across #[+value(cou.name)], March 2011

mixin chartTitle(i)
    if !(isTopic)
        if ((stories[i].type.includes('size')))
            | #[+chartTitleSize(i)]
        else if (['care', 'ethnicity', 'religion'].includes(s[i][0]))
            | #[+chartTitleBar(i)]
        else
            | #[+chartTitleOther(i)]


-console.log("eng", eng)
-console.log("rgn", rgn)
-console.log("place", place)

// Start of th article \/
| #[+para(0)]
| #[+chartTitle(0)]
div#esc123

if (s.length>1)
    | #[+para(1)]
    | #[+chartTitle(1)]
    div#esc123

if (s.length>2)
    | #[+para(2)]
    | #[+chartTitle(2)]
    div#esc123

if (s.length>3)
    | #[+para(3)]
    | #[+chartTitle(3)]
    div#esc123

if (s.length>4)
    | #[+para(4)]
    | #[+chartTitle(4)]
    div#esc123

if (s.length>5)
    | #[+para(5)]
    | #[+chartTitle(5)]

if (more==true)
    if (s.length>6)
        div#esc123
        | #[+para(6)]
        | #[+chartTitle(6)]
    if (s.length>7)
        div#esc123
        | #[+para(7)]
        | #[+chartTitle(7)]
    if (s.length>8)
        div#esc123
        | #[+para(8)]
        | #[+chartTitle(8)]
    if (s.length>9)
        div#esc123
        | #[+para(9)]
        | #[+chartTitle(9)]
    if (s.length>10)
        div#esc123
        | #[+para(10)]
        | #[+chartTitle(10)]
    if (s.length>11)
        div#esc123
        | #[+para(11)]
        | #[+chartTitle(11)]
    if (s.length>12)
        div#esc123
        | #[+para(12)]
        | #[+chartTitle(12)]